{% extends 'base.html.twig' %}

{% block title %}Cars Management{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_css') }}

{% endblock %}

{% block head %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="w-100" id="header-car-div">
        <h1 id="header-car">Cars in database</h1>
    </div>
    <div class="container-fluid" id="car-nav-div">
        <a href="{{ path('car_create') }}"><button type="button" class="btn btn-success" id="add-car-btn">Add a new car</button></a>
        <a href="#"><button type="button" class="btn btn-primary" id="service-car-main-btn">Display planned services</button></a>
        <a href="{{ path('car_main') }}"><button type="button" class="btn btn-primary" id="refresh-car-main-btn">Refresh</button></a>
        <a href="/main"><button type="button" class="btn btn-light" id="return-car-main-btn">Return</button></a>
    </div>

    <div class="container-fluid" id="car-main-div">
        <div class="container-fluid" id="car-main-div-info">
            <h3 id="header-car-info"> This page shows all cars which are currently persist in database</h3>
        </div>
        <div class="container-fluid" id="div-display-cars">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Mark</th>
                    <th>Model</th>
                    <th>Year of production</th>
                    <th>Engine type</th>
                    <th>Engine capacity</th>
                    <th>Mileage</th>
                    <th>VIN number</th>
                    <th>User</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                {% for car in allCars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.mark }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.yearProd }}</td>
                        <td>{{ car.engineType }}</td>
                        <td>{{ car.engineCapacity }}</td>
                        <td>{{ car.mileage }}</td>
                        <td>{{ car.vin }}</td>
                        <td>{{ car.user }}</td>
                        <td id="operations">
                            <a href="{{ path('car_edit', {'car': car.id}) }}" class="btn btn-warning">Edit</a>
                            <a href="{{ path('car_service', {'car': car.id}) }}" class="btn btn-info">Service</a>
                            <a href="{{ path('car_remove', {'car': car.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}