{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_css') }}

{% endblock %}

{% block head %}
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="car-main-div">
        <div class="container-fluid" id="car-main-div-info">
            <h3>Company cars can be added, removed or updated. You can also plan a car service</h3>
            <a href="{{ path('car_create') }}"><button type="button" class="btn btn-primary" id="add-car-btn">Add car</button></a>
            <a href="{{ path('car_remove') }}"><button type="button" class="btn btn-primary" id="remove-car-btn">Remove car</button></a>
            <a href="{{ path('car_update') }}"><button type="button" class="btn btn-primary" id="update-car-btn">Update car</button></a>
            <a href="{{ path('car_display') }}"><button type="button" class="btn btn-primary" id="display-car-btn">Display cars</button></a>
            <a href="/main"><button type="button" class="btn btn-info" id="return-car-remove-btn">Return</button></a>
        </div>

        <div class="container-fluid" id="remove-car-form-div">
            <h4>Enter car's id to remove it from the database</h4>
            {{ form_start(removeForm) }}
            <form id="form-remove-car">
                <div class="form-group w-25">
                    {{ form_row(removeForm.id) }}
                    <small id="emailHelp" class="form-text text-muted">Car's identifier is presented in "Display cars" tab</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {{ form_end(removeForm) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}